<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Ansible Web Server</title>
</head>
<body>
  <h1>{{ server_message }}</h1>
  <p>Hostname: {{ ansible_hostname }}</p>
  <p>IP Address: {{ ansible_default_ipv4.address }}</p>
  <p>Managed by Ansible with Nginx, Role, Jinja2 and Handler.</p>
</body>
</html>
